@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }

  html[lang='ta-IN'] {
    font-family: theme('fontFamily.tamil');
  }

  html[lang='ta-IN'] h1,
  html[lang='ta-IN'] h2,
  html[lang='ta-IN'] h3 {
    font-family: theme('fontFamily.tamil-display');
  }

  h1,
  h2,
  h3 {
    font-family: theme('fontFamily.serif');
  }
}
